@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Dancing+Script:wght@600&display=swap': 500");

/* images  */


.home-images {
  padding-top: 15px;
}


/* text */
.home-text {
  font-family: "Dancing Script", cursive;
}

.home-text-2 {
  padding-top: 50px;
  font-size: 2em;
}


/* background colours */

.carousel-bg {
  background-color: #e9ecef;
}

/* delete pages */

.return-button {
  padding-top: 5em;
}

.delete-button {
  padding-top: 4em;
  padding-bottom: 11em;
}

/* login pages */

.form-pad {
  padding-top: 3em;
}


/* footer links */

.social-links {
  padding-top: 50px;
  padding-left: 280px;
  font-size: 25px;
  letter-spacing: 3px;
}

.social-links li a i {
  padding-left: 10px;
  color: #808080;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
  color: #000000;
}


/* media queries */
@media (min-width: 300px) {
    .carousel .image-size {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 11em;
    }
    }
    @media (min-width: 768px) {
    .carousel .image-size {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 22em;
    }
    }
    @media (min-width: 992px) {
    .carousel .image-size {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 30em;
    }
    }
    @media (min-width: 1025px) {
    .carousel .image-size {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 30em;
    }
    }
    

