{% block content %}
<!-- this is the block content that will go between the the same jinja block I have on my base.html and display what I have below-->

<div class="container">
  <!--Form to delete your recipes-->
  <div class="row">

    <div class="col-12 text-center">
      <img src="{{ url_for('static', filename='images/chef.jpg') }}" width="250" height="250"
        class="d-inline-block align-top" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <h1>Are you sure you want to delete the recipe?</h1>

    </div>

  </div>
  <div class="row">
    <div class="col-12 text-center">
      <h3>It's gone forever!!!</h3>
    </div>
  </div>
  <!--Form to delete your recipes-->
  <div class="row">
    <div class="col-12 text-center ">
      <form method="POST" action="{{url_for('delete_recipe_vegetarian', vegetarian_id=vegetarian._id)}}">
        <div class="col-auto my-1 return-button">
          <a href="{{ url_for('recipe_page') }}" class="badge-pill badge-primary btn">Take Me Back To The Recipes</a>
        </div>



        <div class="col-auto my-1 delete-button"> <button type="submit"
            class="col-auto my-1 btn btn-primary badge-pill">Delete</button>
        </div>

      </form>
    </div>
  </div>
</div>

{% endblock %}