{% extends 'base.html' %} <!--This allows me to extend the base.html to this page-->


{% block content %} <!-- this is the block content that will go between the the same jinja block I have on my base.html and display what I have below-->



  <div class="container">
      <div class="row">
          <div class="col-12">
            <div class="jumbotron jumbotron-fluid">
              <div class="container">
                <h1 class="display-4">{{ recipes.name|capitalize }}</h1>
              </div>
            </div>
          </div>
      </div>
  </div>



  <div class="row">
    <div class="col-12">
      <h3>Ingredients: {{ recipes.ingredients|capitalize }}</h3>
      <h3>How To Cook: {{ recipes.how_to_cook|capitalize }}</h3>
      <h3>Addiotional Notes: {{ recipes.additional_notes|capitalize }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <a class="btn btn-primary btn-lg" href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" role="button">Edit!</a>
    </div>
    <a class="btn btn-primary btn-lg" href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" role="button">Delete!</a>
  </div>





{% endblock %}


