{% extends 'base.html' %} <!--This allows me to extend the base.html to this page-->

{% block content %} <!-- this is the block content that will go between the the same jinja block I have on my base.html and display what I have below-->


{% for pasta in pastas %} <!--for loop to allow me to iterate through the items in my mongodb database-->

<div class="container">
  <div class="row">
  <!--containter to display items for the moment this will change-->
    <div class="col-12">
      <div class="jumbotron img">
        <h1 class="display-4"> {{ pasta.name }}</h1>
        <hr class="my-4">
        <p>Inside is a delightful recipe for {{ pasta.name }}, you can even make adjustments if you like!</p>
        <a class="btn btn-primary btn-lg" href="{{ url_for('pasta_ingredients', pasta_id=pasta._id) }}" role="button">Click For Recipe!</a>
      </div>
        </div>
      </div>
    </div>

{% endfor %}






{% endblock %}