{% extends 'base.html' %} <!--This allows me to extend the base.html to this page-->

{% block content %} <!-- this is the block content that will go between the the same jinja block I have on my base.html and display what I have below-->


<div class="container">  
  <div class="row">
    <div class="col-md-6 home-images">
      <div class="card">
        <img src="{{ url_for('static', filename='images/vegetarian-link.jpg')}}" class="card-img-top" alt="...">
      </div>
    </div>


    <div class="col-md-6">
      <form>
        <div class="form-group">
          <label for="formGroupExampleInput">Category</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Name</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput">Ingredients</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">How To Cook</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Additional Notes</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
        </div>
      </form>
    </div>
  </div>
</div>


{% endblock %}